.idea/
*.iml
*.xml
.env
PAT.txt
projectData/
.venv/
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
env/
dist/
build/
.coverage
.claude/
.projectData/
logs/
presentation/
